<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<div class="logo">
<img  src="images/logo-jkuat.jpg">
</div>
      <div class="">
        <h2>JKUAT Lecturer Evaluation</h2>
        <p>Get Your Lecturer Evaluation Form And Submit Your Response</p>
        <p>This service is provided by integrating Google Apps and Google Appengine
        <p><a class="btn primary large" href="http://www.google.com/apps/intl/en/landing/top100schools/" target="_blank">Learn more about Google Apps &raquo;</a></p>
      </div>
 <h4>You need to <a href={{login_url}}> Login </a> with JKUAT University email address before you proceed.</h4>
</body>
</html>